/*!
 * MyMC v0.1 (...)
 * Copyright 2015 Xtrada Nederland.
 * Licensed under MIT (...)
 */
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,600,700,300,800);
@import url(http://fonts.googleapis.com/css?family=Lato:700,400,300);

:root{
    --border-radius: 5px;
    --color-green: #2ecc40;
    --color-green1: #01ff70;
    --color-white: #fafafa;
    --color-pre-bg: #333;
    --color-bg: #151515;
    --justify-important: center;
    --justify-normal: center;
    --color-accent: #2ecc40;
    --font: Menlo, Monaco, "Courier New", monospace;
}

body{
  font-family: var(--font);
  background: var(--color-bg);
  color: var(--color-white);
}

/* Navbar and homepage styles*/
.navbar {
  border: 0px solid transparent;
  -webkit-box-shadow: 0px 2px 2px 0px rgba(50, 50, 50, 0.24);
  -moz-box-shadow: 0px 2px 2px 0px rgba(50, 50, 50, 0.24);
  box-shadow: 0px 2px 2px 0px rgba(50, 50, 50, 0.24);
}
.navbar-nav > li > a {
  font-size: 16px;
  font-weight: 600;
}
@media (min-width: 768px) {
	.navbar {
	  min-height: 100px;
	}
	.navbar-brand {
	  height: 100px;
	  padding: 40px 15px;
	  font-size: 24px;
	}
	.navbar-nav > li > a {
	  padding-top: 40px;
	  padding-bottom: 40px;
	}
	.btn-huge {
	  padding: 15px 35px;
	  font-size: 30px;
	  min-width: 300px;
	}
}
@media (max-width: 768px) {
	.btn-huge {
	  min-width: 100%;
	  padding: 15px 20px;
	  font-size: 16px;
	}
}
.homepage-opening {
  margin-top: -20px;
  background-image: url(../img/background.jpeg);
  background-position: bottom; 
  text-shadow: 2px 2px var(--color-bg);
  background-repeat: no-repeat;
  background-size: cover;
  color: var(--color-white);
}
.head {
  font-size: 100px !important;
  line-height: 1;
  letter-spacing: -2px;
  font-family: var(--font);
  font-weight: 600;
}
.leader {
  font-size: 40px !important;
  line-height: 1;
  font-family: var(--font);
  font-weight: 500;
}
.btn-glow {
  -webkit-animation-name: bluePulse;
  -webkit-animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
  text-shadow: none;
  color: var(--color-white)
}
@-webkit-keyframes bluePulse {
  from { background-color: var(--color-green); -webkit-box-shadow: 0 0 9px var(--color-green); }
  50% { background-color: var(--color-green1); -webkit-box-shadow: 0 0 18px var(--color-green1); }
  to { background-color: var(--color-green); -webkit-box-shadow: 0 0 9px var(--color-green); }
}
.icon img{
  height: 100px;
  width: 100px;
}

/* Dropdown */

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 230px;
  border: 0;
  padding: 5px 0;
  margin: 2px 0 0;
  list-style: none;
  font-size: 15px;
  background-color: #1CC7E3;
  border-radius: 4px;
  background-clip: padding-box;
}
.dropdown-menu > li > a {
  display: block;
  padding: 6px 20px;
  clear: both;
  font-size: 16px;
  font-weight: normal;
  line-height: 1.42857143;
  color: #fff;
  font-weight: 600;
  white-space: nowrap;
}
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
  text-decoration: none;
  color: #ffffff;
  background-color: #169EB4;
}

/* Navbar types*/

.navbar-grey {
  background-color: #f8f8f8;
}
.navbar-grey .navbar-brand {
  color: var(--color-white);
}
.navbar-grey .navbar-brand:hover,
.navbar-grey .navbar-brand:focus {
  color: #f4ede1;
  background-color: transparent;
}
.navbar-grey .navbar-text {
  color: var(--color-green1);
}
.navbar-grey .navbar-nav > li > a {
  color: var(--color-green1);
}
.navbar-grey .navbar-nav > li > a:hover,
.navbar-grey .navbar-nav > li > a:focus {
  color: #333;
  background-color: transparent;
}
.navbar-grey .navbar-nav > .active > a,
.navbar-grey .navbar-nav > .active > a:hover,
.navbar-grey .navbar-nav > .active > a:focus {
  color: #555;
  background-color: #e7e7e7;
}
.navbar-grey .navbar-nav > .disabled > a,
.navbar-grey .navbar-nav > .disabled > a:hover,
.navbar-grey .navbar-nav > .disabled > a:focus {
  color: #ccc;
  background-color: transparent;
}
.navbar-grey .navbar-toggle {
  border-color: #ddd;
}
.navbar-grey .navbar-toggle:hover,
.navbar-grey .navbar-toggle:focus {
  background-color: #ddd;
}
.navbar-grey .navbar-toggle .icon-bar {
  background-color: #888;
}
.navbar-grey .navbar-collapse,
.navbar-grey .navbar-form {
  border-color: #e7e7e7;
}
.navbar-grey .navbar-nav > .open > a,
.navbar-grey .navbar-nav > .open > a:hover,
.navbar-grey .navbar-nav > .open > a:focus {
  color: #555;
  background-color: #e7e7e7;
}
@media (max-width: 767px) {
  .navbar-grey .navbar-nav .open .dropdown-menu > li > a {
    color: var(--color-green1);
  }
  .navbar-grey .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-grey .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #333;
    background-color: transparent;
  }
  .navbar-grey .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-grey .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-grey .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #555;
    background-color: #e7e7e7;
  }
  .navbar-grey .navbar-nav .open .dropdown-menu > .disabled > a,
  .navbar-grey .navbar-nav .open .dropdown-menu > .disabled > a:hover,
  .navbar-grey .navbar-nav .open .dropdown-menu > .disabled > a:focus {
    color: #ccc;
    background-color: transparent;
  }
}
.navbar-grey .navbar-link {
  color: var(--color-green1);
}
.navbar-grey .navbar-link:hover {
  color: #333;
}
.navbar-grey .btn-link {
  color: var(--color-green1);
}
.navbar-grey .btn-link:hover,
.navbar-grey .btn-link:focus {
  color: #333;
}
.navbar-grey .btn-link[disabled]:hover,
fieldset[disabled] .navbar-grey .btn-link:hover,
.navbar-grey .btn-link[disabled]:focus,
fieldset[disabled] .navbar-grey .btn-link:focus {
  color: #ccc;
}
.navbar-grey .dropdown-menu {
  background-color: #E7E7E7;
}
.navbar-grey .dropdown-menu > li > a:hover,
.navbar-grey .dropdown-menu > li > a:focus {
  color: #555;
  background-color: #C4C4C4;
}
.navbar-grey .dropdown-menu > li > a {
  color: #555;
}
.navbar-default {
  background: #141615;
}
.navbar-default .navbar-brand {
  color: var(--color-white);
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #f4ede1;
  background-color: transparent;
}
.navbar-default .navbar-text {
  color: var(--color-white);
}
.navbar-default .navbar-nav > li > a {
  color: var(--color-white);
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #333;
  background-color: transparent;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #fff;
  background-color: var(--color-green);
}
.navbar-default .navbar-nav > .disabled > a,
.navbar-default .navbar-nav > .disabled > a:hover,
.navbar-default .navbar-nav > .disabled > a:focus {
  color: #ccc;
  background-color: transparent;
}
.navbar-default .navbar-toggle {
  border-color: #ddd;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #ddd;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #888;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #e7e7e7;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #fff;
  background-color: #1CC7E3;
}
@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: var(--color-green1);
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #333;
    background-color: transparent;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #555;
    background-color: #e7e7e7;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a:focus {
    color: #ccc;
    background-color: transparent;
  }
}
.navbar-default .navbar-link {
  color: var(--color-green1);
}
.navbar-default .navbar-link:hover {
  color: #333;
}
.navbar-default .btn-link {
  color: var(--color-green1);
}
.navbar-default .btn-link:hover,
.navbar-default .btn-link:focus {
  color: #333;
}
.navbar-default .btn-link[disabled]:hover,
fieldset[disabled] .navbar-default .btn-link:hover,
.navbar-default .btn-link[disabled]:focus,
fieldset[disabled] .navbar-default .btn-link:focus {
  color: #ccc;
}
.staff-member {
  height: 150px;
  width: 150px;
  padding-top: 100px;
  display: inline-block;
  margin-right: 9px;
  margin-bottom: 20px;
}
.staff-name {
  background: rgba(0,0,0,.3);
  height: 50px;
  padding: 15px 10px;
  min-width: 100%;
}
.staff-name span {
  color: #fff;
  font-size: 15px;
}
.carousel-inner > .item > iframe{
  display: block;
  max-width: 100%;
  height: auto;
  line-height: 1;
}
.vote-item {
  min-width: 100%;
  min-height: 500px;
  border: 0px solid transparent;
}
.vote-name {
  color: #1CC7E3;
}
.server-name-card {
font-weight: 600;
text-align: center;
}
.bottom .nav > li  {
position: relative;
display: block;
padding: 10px 15px;
}
