        <footer class="bg-light text-center text-lg-start">
            <div class="container">
                <hr>
                <div class="row">
                    <div class="col-lg-12">
                        <ul class="nav nav-pills bottom">
                            <!--
                            <li role="presentation"><a href="staff.html">Staff</a></li>
                            <li role="presentation"><a href="rules.html">Rules</a></li>
                            -->
                            <li class="pull-right"><p>&copy; 2022 <a href="https://calebe.dev.br">Calebe94</a></p></li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>
        <!-- /.container -->
        <!-- JavaScript -->
        <script src="assets/js/bootstrap.js"></script>
    </body>
</html>
